@mixin pointer {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-out;

    &::after {
        content: '';
        top: 0;
        right: 0;
        display: block;
        background: url("../icons/Pointer.svg");
        width: 14px;
        height: 14px;
    }

    &:hover {
        gap: 16px;
    }
}