@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $dark-lighter-color;
    z-index: 1000;
    transform: translateX(100%);
    transition: all .4s ease-in;

    &_visible {
        transform: translateX(0);
    }
}

.menu {
    position: fixed;
    width: 100%;
    z-index: 1001;
    transform: translateX(100%);
    transition: all .5s ease-in;

    &_visible {
        transform: translateX(0);
    }

    #menu__close {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 32px;
        top: 32px;
        @include close-icon;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 32px 0;
    }

    &__logo {
        width: 130px;
        margin-bottom: 24px;

        img {
            width: inherit;
            object-fit: contain;
        }
    }

    .btn {
        font-size: 14px;
        margin-top: 20px;
    }

    .nav {
        display: block;

        &__menu {
            flex-direction: column;
            gap: 16px;
        }
    }
}