@import "../../sass/variables.scss";

.card {
    width: 261px;
    border-radius: 4px;
    overflow: hidden;

    &__wrapper {
        height: fit-content;
        flex-direction: column;
        gap: 16px;
        background: $dark-lighter-color;
    }

    &__img {
        margin: 0 auto;
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    &__info {
        width: 100%;
        margin: 16px 0;
    }

    &__name,
    &__price {
        text-align: center;
    }

    &__price {
        font-size: 20px;
        margin: 4px 0 0 0;
    }
}

@media (max-width: 960px) {
    .card {
        width: 350px;
    }
}

@media (max-width: 720px) {
    .card {
        width: fit-content;

        &__img {
            width: 240px;
            height: 240px;
        }
    }
}

@media (max-width: 540px) {
    .card {
        width: 100%;
    }
}