@import "../../sass/variables.scss";

.product {
    &__details {
        grid-column: 8/13;
    }

    &__description {
        color: $secondary-color;
        margin-top: 16px;
    }

    &__actions {
        display: flex;
        gap: 16px;
        margin-top: 40px;
    }

    &__sizes {
        padding: 8px;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border: 2px solid $secondary-color;

        &::after {
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            background: url("../../icons/Pointer.svg");
            transition: all .3s ease-out;
        }

        &_active {
            &::after {
                transform: rotate(90deg);
            }
        }
    }

    .btn {
        &:active {
            &::before {
                border: none;
            }
        }
    }

    &__price {
        span {
            color: inherit;
        }
    }
}

@media (max-width: 1140px) {
    .product {
        &__details {
            grid-column: 1/7;
        }
    }
}

@media (max-width: 720px) {
    .product {
        &__actions {
            gap: 0;
            justify-content: space-between;
        }
    }
}

@media (max-width: 540px) {
    .product {
        &__actions {
            flex-direction: column-reverse;
            gap: 16px;

            .btn {
                font-size: 14px;
            }
        }

        &__sizes {
            width: 95%;
        }
    }
}