@import "./sass/bootstrap-reboot.min.scss";
@import "./sass/fonts.scss";
@import "./sass/variables.scss";
@import "./sass/titles.scss";
@import "./sass/buttons.scss";
@import "./sass/grid.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;

    // Text
    font-size: 16px;
    line-height: 150%;
    color: $light-color;
    font-family: "Comfortaa";
    list-style-type: none;
    text-decoration: none;
    letter-spacing: 2px;

    &::selection {
        color: $primary-color;
    }
}

body {
    background: $dark-color;
}

button {
    border: none;
}

a {
    text-decoration: none;
    color: $light-color;
}

ul {
    margin: 0;
    padding: 0;
}

.main {
    margin-top: 32px;
    padding: calc(48px + 64px) 0 80px 0;
}

.catalog {
    &__item {
        margin-bottom: 80px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    letter-spacing: 0px;
    margin: 0;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
}